html,body{
    margin: 0;
    padding: 0;
}
.l{
  float: left;
}
.r{
  float: right;
}
.top{
  width: 600px;
  margin: 10px auto;
}
.top p{
  font-size: 16px;
  margin-top:8px;

}
.msg{
  width: 100%;
  position: relative;
}
.msg .l{
  padding-top: 45px;
  font-size: 16px;
}
.msg h1{
  width: 200px;
  margin:0 40%;
}
.msg .r p{
  padding-right: 50px;
  font-size: 16px;
}
.table{
  text-align: center;
}
.print-teb{
  position: relative;
}
.print-teb .tb1,.print-teb .tb4{
  width: 24px;
}
.print-teb .tb2,.print-teb .tb3{
  width: 195px;
}
.cg{
  width: 20px;
  position: absolute;
  right: 0px;
  top: 90px;
  font-size: 12px;
}
.foot{
  width: 600px;
  position: relative;
  

}
.foot .zs{
  position: absolute;
  top: -30px;
  left: 6px;
}
.foot .cx{
   margin-top:40px; padding-left: 6px;
}
.m{
  height: 37px;
  padding-left: 8px;
  line-height: 37px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.m p{
  line-height: 37px;
  text-align: center;
}
.m>p{
  border-left: 1px solid #CCC;
  padding-left: 20px;
}
.add{
  width: 20%;
}
.form-print .zp{
  width: 200px;
  height: 42px;
  position: absolute;
  left: 10px;
  top:22px;
}
.u{
  position: relative;
}
.hhh{
  position: absolute;
  left: 133px;
  top: 44px;
  /* font-weight: 700; */
}
.tdate{
  position: absolute;
  top:-33px;
  right: -12px;
}
.custom-h2{
  text-align: center; margin-top: 6px; font-size:24px;letter-spacing:2px;
  position: absolute;
  left: 44%;
  top: 0px;
}
body{
    font-size: 14px;
    color: #000;
}
ul,li,h1,h2,h3,h4,h5,h6,p { margin: 0; padding: 0; }
li { list-style-type: none; }
tr:focus-visible,td:focus-visible { outline:0; }
@media print {
    body{-webkit-print-color-adjust:exact;} 
}
@media all and (min-width: 1000px) and (max-width: 1800px){
.poput-box {
    position: absolute;
    top: 22%;
    left: 10%;
    right: 0;
    margin: 0 auto;
    width: 75%;
    border-radius: 4px;
    border: solid 1px #c6c6c6;
	z-index: 999999;
	background: #fff;
	/* display: none; */
}
}
@media all and (min-width: 1800px){
  .poput-box {
      position: absolute;
      top: 20%;
      left: 10%;
      right: 0;
      margin: 0 auto;
      width: 75%;
      border-radius: 4px;
      border: solid 1px #c6c6c6;
    z-index: 999999;
    background: #fff;
    /* display: none; */
  }
  }
  
.title-top {
    font-size: 14px;
    margin: 0;
    padding: 10px;
    background: #247ecc;
    color: #fff;
}

.form-print {
    padding: 10px 20px;
  padding-bottom: 80px;
  position: relative;
}
.footer-bot {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
    text-align: center;
}
.footer-bot button {
    border: none;
    background: #169bd5;
    color: #fff;
    border-radius: 4px;
    padding: 6px 18px;
    margin: 0 10px;
}
.print-teb{
  padding-right: 30px;
}
table.print-teb td {
    border: solid 1px #000;
    padding: 0;
    margin: 0;
	text-align: center;
	font-size: 12px;
}
table.print-teb {
    width: 100%;
	border-collapse: collapse;
}

.select-box {
    display: inline-block;
}

.title-print {
    text-align: center;
}
.title-print > div {
    font-size: 12px;
}
.print-teb-title h1 {
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
}
.print-teb-title .right {
    float: right;
    width: 30%;
    text-align: left;
}
.print-teb-title .left {
    float: left;
}
.print-teb-title {
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    position: relative;
	margin: 6px 0 1px;
	height: 24px;
	line-height: 24px;
}
.txt-p h1 {
    font-size: 14px;
    margin: 6px 0 10px 0;
    font-weight: initial;
}
.txt-p > div p {
    font-size: 12px;
}

table.print-teb tr .left-align {
    text-align: left;
	padding-left: 10px;
}
table.print-teb tr .right-align {
    text-align: right;
	padding-right: 10px;
}
table.print-teb tr:nth-last-child(1) td { height: 19px; }

.ul-print li span { margin-right: 20px; }
.ul-print li { font-size: 12px; margin-top: 2px; }
.teb-div {
    overflow: hidden;
    padding: 2px 0;
}
.teb-div p {
    float: left;
    font-size: 12px;
    width: 50%;
    text-align: left;
}
table.print-teb .td-padd { padding: 6px 0; }
.p-left {
    float: left;
    margin-left: 20px;
}
table.print-teb.ma-padd td { padding: 4px 10px; }
.color-la {
    color: #247ecc;
    margin-left: 4px;
}






.custom-h3 { text-align: center; margin-top: 6px; font-size:24px;letter-spacing:2px;}
.padding-top { padding-top: 50px; }
.border-bottom { padding-bottom: 50px; }
@page { /* print()去掉页头页脚*/
	size: auto;
	margin: 0mm;
}

/* select 美化 */
.dropdown {
  --max-scroll: 8;
  --text: #3F4656;
  --border: #9b9b9b;
  --borderActive: #23C4F8;
  /* --background: #151924; */
  --arrow: #6C7486;
  --arrowActive: #169bd5;
  /* --listText: #333; */
  --listBackground: #ebebeb;
  --listActive: #169bd5;
  --listTextActive: #ffffff;
  --listBorder: none;
  --textFilled: #333;
  position: relative;
}
.dropdown.light {
  --text: #CDD9ED;
  --border: #CDD9ED;
  --borderActive: #23C4F8;
  --background: #fff;
  --arrow: #99A3BA;
  --arrowActive: #6C7486;
  --listText: #99A3BA;
  --listBackground: #fff;
  --listActive: #F5F9FF;
  --listTextActive: #6C7486;
  --listBorder: #E4ECFA;
  --textFilled: #6C7486;
}
.dropdown select {
  display: none;
}
.dropdown > span {
  cursor: pointer;
  padding:5px 28px 6px 9px;
  border-radius: 4px;
  display: block;
  position: relative;
  color: var(--text);
  border: 1px solid var(--border);
  background: var(--background);
  transition: all .3s ease;
}
.dropdown > span:before, .dropdown > span:after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  border-radius: 1px;
  top: 49%;
  right: 5px;
  background: var(--arrow);
  transition: all .3s ease;
}
.dropdown > span:before {
  margin-right: 4px;
  -webkit-transform: scale(0.96, 0.8) rotate(50deg);
          transform: scale(0.96, 0.8) rotate(50deg);
}
.dropdown > span:after {
  -webkit-transform: scale(0.96, 0.8) rotate(-50deg);
          transform: scale(0.96, 0.8) rotate(-50deg);
}
.dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  max-height: calc(var(--max-scroll) * 42px);
  top: 25px;
  left: 0;
  z-index: 1;
  right: 0;
  background: var(--listBackground);
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: opacity 0.2s ease, visibility 0.2s ease, -webkit-transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  -webkit-transform: scale(0.8) translate(0, 4px);
          transform: scale(0.8) translate(0, 4px);
  border: 1px solid var(--listBorder);
}
.dropdown ul li {
  opacity: 0;
  -webkit-transform: translate(6px, 0);
          transform: translate(6px, 0);
  transition: all .3s ease;
}
.dropdown ul li a {
  cursor: pointer;
  display: block;
  padding: 10px 16px;
  color: var(--listText);
  text-decoration: none;
  outline: none;
  position: relative;
  transition: all .3s ease;
}
.dropdown ul li a:hover {
  color: #169bd5;
}
.dropdown ul li.active a {
  color: var(--listTextActive);
  background: var(--listActive);
}
.dropdown ul li.active a:before, .dropdown ul li.active a:after {
  --scale: .6;
  content: '';
  display: block;
  width: 10px;
  height: 2px;
  position: absolute;
  right: 17px;
  top: 50%;
  opacity: 0;
  background: var(--listText);
  transition: all .2s ease;
}
.dropdown ul li.active a:before {
  -webkit-transform: rotate(45deg) scale(var(--scale));
          transform: rotate(45deg) scale(var(--scale));
}
.dropdown ul li.active a:after {
  -webkit-transform: rotate(-45deg) scale(var(--scale));
          transform: rotate(-45deg) scale(var(--scale));
}
.dropdown ul li.active a:hover:before, .dropdown ul li.active a:hover:after {
  --scale: .9;
  opacity: 1;
}
.dropdown ul li:first-child a {
  border-radius: 6px 6px 0 0;
}
.dropdown ul li:last-child a {
  border-radius: 0 0 6px 6px;
}
.dropdown.filled > span {
  color: var(--textFilled);
}
.dropdown.open > span {
  border-color: var(--borderActive);
}
.dropdown.open > span:before, .dropdown.open > span:after {
  background: var(--arrowActive);
}
.dropdown.open > span:before {
  -webkit-transform: scale(0.96, 0.8) rotate(-50deg);
          transform: scale(0.96, 0.8) rotate(-50deg);
}
.dropdown.open > span:after {
  -webkit-transform: scale(0.96, 0.8) rotate(50deg);
          transform: scale(0.96, 0.8) rotate(50deg);
}
.dropdown.open ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) translate(0, 12px);
          transform: scale(1) translate(0, 12px);
  transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}
.dropdown.open ul li {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.dropdown.open ul li:nth-child(1) {
  transition-delay: 80ms;
}
.dropdown.open ul li:nth-child(2) {
  transition-delay: 160ms;
}
.dropdown.open ul li:nth-child(3) {
  transition-delay: 240ms;
}
.dropdown.open ul li:nth-child(4) {
  transition-delay: 320ms;
}
.dropdown.open ul li:nth-child(5) {
  transition-delay: 400ms;
}
.dropdown.open ul li:nth-child(6) {
  transition-delay: 480ms;
}
.dropdown.open ul li:nth-child(7) {
  transition-delay: 560ms;
}
.dropdown.open ul li:nth-child(8) {
  transition-delay: 640ms;
}
.dropdown.open ul li:nth-child(9) {
  transition-delay: 720ms;
}
.dropdown.open ul li:nth-child(10) {
  transition-delay: 800ms;
}

select {
  --text: #3F4656;
  --border: #2F3545;
  --background: #151924;
}
select.dropdown {
  padding: 3px 26px 5px 10px;
  border-radius: 6px;
  color: var(--text);
  border: 1px solid #999;
  font-size: 16px;
  font-family: inherit;
  -webkit-appearance: none;
}

select:focus { outline: 0; }

*:before, *:after {
  box-sizing: inherit;
}

.switch {
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
}
.switch input {
  display: none;
}
.switch input + span {
  padding-left: 38px;
  min-height: 20px;
  line-height: 20px;
  display: block;
  color: #3F4656;
  position: relative;
  white-space: nowrap;
}
.switch input + span:not(:empty) {
  padding-left: 46px;
}
.switch input + span:before, .switch input + span:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 10px;
}
.switch input + span:before {
  top: 0;
  left: 0;
  width: 38px;
  height: 20px;
  border: 1px solid #2F3545;
  transition: all .3s ease;
}
.switch input + span:after {
  width: 14px;
  height: 14px;
  background: #2F3545;
  top: 3px;
  left: 3px;
  transition: all .45s ease;
}
.switch input + span + svg {
  display: none;
}
.switch input:checked + span:before {
  background: #5628EE;
  border-color: #5628EE;
}
.switch input:checked + span:after {
  background: #fff;
  -webkit-transform: translate(18px, 0);
          transform: translate(18px, 0);
}
.switch:hover input:not(:checked) + span:before {
  border-color: #23C4F8;
}
